/*roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*nexa*/
@font-face {
    font-family: "Nexa Heavy";
    src: url("fonts/Nexa/Nexa-Heavy.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}


.error {
    color: red;
}

body {
    margin: 0px ;
    background-color: #F9FAF6;
    font-family: "Nexa Heavy", sans-serif;
    color: #6B6A68;
}

nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 100px;
}

nav a {
    padding: 25px 50px;
    color: #82AC7A;
    text-decoration: none;
    font-family: "Nexa Heavy", sans-serif;
}

nav a:hover {
    border-bottom: 2px solid #82AC7A;
}

/*index page styling*/

.log-in-button {
    padding: 25px 70px;
    border-radius: 5px;
    background-color: #82AC7A;
    color: #F9FAF6;
}

.log-in-button:hover {
    background-color: #5B8055;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/leafs.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

header h1 {
    color: #82AC7A;
    font-size: 60px;
}

.home-page-h1 {
    color: #F9FAF6;
}

main {
    margin: 0px 10vw;
}

p {
    font-family: "Roboto", sans-serif;
}

.product-preview {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 50px 0px;
    /*margin: 80px;*/
}

.product-preview a {
    padding: 20px 100px;
    background-color: #82AC7A;
    color: #F9FAF6;
    text-decoration: none;
    font-family: "Nexa Heavy", sans-serif;
    border-radius: 5px;
}

.product-preview a:hover {
    background-color: #5B8055;
}

.product-preview p {
    padding-bottom: 30px;
}

.product-preview img {
    max-height: 300px;
}

{
color: blueviolet;
}

/*form styling*/
form {
    display: flex;
    flex-direction: row;
}

input {
    box-sizing: content-box;
    margin: 0;
}

input, textarea {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

.form-details {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    width: 80vw;
}

#leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#rightSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 60px;
}

.form-field-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 10px 0;
}

.form-field-div input {
    max-width: 100%;
    height: 40px;
    margin: 0;
    padding: 5px;
}

.first-name-last-name {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.address-home-number {
    display: flex;
    flex-direction: column;
}

.doubleField {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    width: 100%;
    margin: 0;
}

.doubleField input {
    flex: 1;
}

label {
    font-size: 1.3rem;
    height: 60px;
    align-content: flex-end;
}


.doubleField #shortInput {
    max-width: 20%;
    flex: 1;
}

.submit-btn {
    background-color: #82AC7A;
    height: 50px;
    margin-bottom: 10px;
}


.submit-btn:hover {
    background-color: #333333;
    cursor: pointer;
}

#question {
    height: calc(100% - 10px);
}

/*about page styling*/

.content-and-image {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
}

.content-and-image img {
    width: 300px;
}

.content-and-image-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;

    width: 400px;
}

.content-and-image-right img {
    width: 300px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10vw;
}

footer a {
    text-decoration: none;
    color: #82AC7A;
    padding: 40px 40px 20px 40px;
}

footer a:hover {
    border-bottom: 2px solid #82AC7A;
}

.icons-copyright {
    color: #82AC7A;
}

dialog {
    width: 40vw;
    height: 50vh;
    padding: 0;
    border-radius: 15px;
    position: relative;
}

dialog .close-dialog {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    color: #dc0000;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.close-dialog:hover {
    color: #350404;
}

.close-dialog:focus {
    outline: 2px solid red;
    border-radius: 2px;
}


#loginContainer {
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding: 0 5px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #F9FAF6;
}

#loginContainer form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fieldDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 5px 0;
    width: 35vw;
}

.fieldDiv input {
    width: calc(100% - 10px);
    height: 40px;
    margin: 0;
    padding: 5px;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

#registerDiv {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    color: #6B6A68;
}

#registerDiv a {
    color: #5B8055;
    font-weight: normal;
    align-content: center;
}


#submitBtn {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vh;
    background-color: #5B8055;
    color: #F9FAF6;
    border: none;
    border-radius: 2px;
}

#submitBtn:hover {
    background-color: #608a5a;
    cursor: pointer;
}
